/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  height: 100vh;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.nav {
  height: 50px;
  width: 100%;
  margin-top: 0;
  text-align: center;
}

.nav li {
  background-color: white;
  list-style-type: none;
  display: inline;
}

.App {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 100vh;
}

.btn {
  width: 11.11%;
  height: 50px;
  margin-top: 10px;
  font-size: 1.5em;
  border: none;
  background-color: white;
}

li {
  margin-top: 10px;
  list-style-type: none;
}

ul {
  padding-inline-start: 0;
}

h1 {
  font-size: 2.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

h2 {
  margin-top: 1.25em;
  margin-bottom: 0.75em;
  font-size: 2em;
}

h3 {
  margin-top: 1em;
}

.main {
  margin-top: 30px;
}

.footer {
  position: fixed;
  height: 30px;
  bottom: 5px;
  text-align: center;
  width: 100%;
}

a {
  color: #333333;
  text-decoration: none;
}
